img {
  height: 150px;
  width: auto;
}

.jumbotron h1 {
  text-align: center;
  color: red;
}

.jumbotron {
  background-image: url("https://media3.giphy.com/media/uPu4Ny3Buqre0/200.webp#97-grid1");
  background-size: 450px;
}
